<div>
  <h3>A {{question.type}} Question:</h3>
  <h5>from | {{question.name}} written on {{question.date}}</h5>
  <h3>{{question.quest}}</h3>

  <h5>Toutes les r&eacute;ponses!!!</h5>
  <div class="">
    {{#each question.answers as |answer|}}
      {{answer-tile answer=answer}}
    {{/each}}
  </div>

  <button class="button" {{action 'delete' question}}>Delete Question</button>
</div>
